body{
	height:100%;
	overflow:hidden;
	font-family: "黑体";
}
.wechat-header{
	text-align: center;
	height: 50px;
	box-shadow: 0 1px 6px #ccc;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: #fff;
}
.wechat-header h1{
	color: #444;
	line-height: 50px;
	font-size: 16px;
}
.wechat-content{
	width: 100%;
	height: auto;
	margin-top: 50px;
	height:calc(100vh - 50px);
	overflow-y: scroll;
	overflow-x: hidden;
}
header .icon-back{
	position: absolute;
	left: 20px;
	top: 0;
	color: #444;
	line-height: 50px;
}


.wechat-content .wechat-icon{
	height:26px;
	margin-right:5px;
	display:block;
	margin-top: -2px;
}
.bottom-height{
	width: 100%;
	height: 50px;
}

/**
 * 颜色风格
 */
.bgcolor{
	background: #1AB394;
}
.textcolor{
	color: #1AB394;
}
.bdcolor{
	border: 1px solid #1AB394;
}
.swiper-pagination-bullet-active{
	background: #1ab394 ;
}
.btncolor{
	background: #1ab394 ;
}
.btncolor:active{
	background: #27a088 ;
}
.weui-uploader__files li.title{
	border: 1px solid #1ab394;
}
.textbtncolor{
	color: #1ab394 ;
}
.textbtncolor:active{
	color: #27a088 ;
}
.weui-search-bar__cancel-btn{
	color: #1AB394 ;
}
