body{
	height:100%;
	overflow:hidden
}
.wechat-header{
	text-align: center;
	height: 50px;
	box-shadow: 0 1px 6px #ccc;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: #fff;
}
.wechat-header h1{
	color: #444;
	line-height: 50px;
	font-size: 16px;
}
.wechat-content{
	width: 100%;
	height: auto;
	margin-top: 50px;
	height:calc(100vh);
	overflow: scroll;
}
header .icon-back{
	position: absolute;
	left: 20px;
	top: 0;
	color: #444;
	line-height: 50px;
}


.wechat-content .wechat-icon{
	height:26px;
	margin-right:5px;
	display:block;
	margin-top: -2px;
}
